.root {
  @apply leading-loose text-xs md:text-sm lg:px-12 xl:px-24;
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-e342433: #69904a;
  --e-global-color-8390c2d: #565656;
  --e-global-color-384c8cb6: #50656e;
  --e-global-color-3d50f1ef: #dc5049;
  --e-global-color-4492355c: #7b8c93;
  --e-global-color-6edcf0fb: #eb6d65;
  --e-global-color-5a6d314: #000000;
  --e-global-color-58dd7dc1: #ffffff;
  --e-global-typography-primary-font-family: 'Roboto';
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: 'Roboto Slab';
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: 'Roboto';
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: 'Roboto';
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-16e48b8-font-family: 'Montserrat';
  --e-global-typography-16e48b8-font-size: 13px;
  --e-global-typography-16e48b8-line-height: 2em;
}

.root ul {
  margin: 0 0 1.5em 3em;
  @apply list-disc;
}

.root p {
  margin-bottom: 1.6em;
}
