@import url('https://fonts.googleapis.com/css2?family=Prata&display=block'rel='stylesheet');

@font-face {
  font-family: 'Prata';
  src: local('prata'),
    url('/fonts/prata.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Leaguescript';
  src: local('leaguescript'),
    url('/fonts/leaguescript.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: local('roboto'),
    url('/fonts/roboto.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Kinfolk;
  src: url('/fonts/Kinfolk_Reg.otf')
    format('opentype');
  font-display: block;
}
/* public/fonts/SweetSansProMedium.otf */
@font-face {
  font-family: SweetSans;
  src: url('/fonts/SweetSansProMedium.otf')
    format('opentype');
  font-display: block;
}
/* public/fonts/Commissioner-Light.ttf */
@font-face {
  font-family: Commissioner;
  font-weight: 300;
  src: url('/fonts/Commissioner-Light.ttf')
    format('truetype');
  font-display: block;
}
/* public/fonts/Commissioner-Medium.ttf */
@font-face {
  font-family: Commissioner;
  src: url('/fonts/Commissioner-Medium.ttf')
    format('truetype');
  font-display: block;
}
/* public/fonts/Commissioner-SemiBold.ttf */
@font-face {
  font-family: Commissioner;
  font-weight: 600;
  src: url('/fonts/Commissioner-SemiBold.ttf')
    format('truetype');
  font-display: block;
}
/* public/fonts/EBGaramond-VariableFont_wght.ttf */
@font-face {
  font-family: EBGaramond;
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf')
    format('truetype');
  font-display: block;
}

/* public/fonts/EBGaramond-Italic-VariableFont_wght.ttf */
@font-face {
  font-family: EBGaramond;
  font-style: italic;
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-display: block;
}

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

.text-prata {
  font-family: 'Prata',
    'Times New Roman', Times, serif;
}
.text-roboto {
  font-family: 'Roboto', Helvetica,
    sans-serif;
}

/* Theme */
:root {
  --header-height: 120px;
  --color-primary: #656d51;
}

body {
  @apply text-element-5 font-commissioner font-light;
  background: #fdf6f0;
}
html,
body {
  width: 100%;
}
p {
  margin-top: 1.6em;
}
/* Your own custom utilities */
.fit {
  min-height: calc(
    100vh - var(--header-height)
  );
}

.text-effect-1 {
  @apply inline overflow-hidden relative cursor-pointer;
}
.text-effect-1:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0.5;
  border-bottom: 0.125em solid
    currentColor;
  transition: width 0.3s, color 0.3s;
}
.text-effect-1:hover:after {
  @apply text-current;
  width: 100%;
  left: 0;
}
.text-effect-1.text-effect-1_active:after {
  @apply text-current;
  border-color: var(--primary-2);
  width: 100%;
  left: 0;
}

.text-effect-2 {
  @apply inline-flex;
}
.text-effect-2:before {
  content: '';
  align-self: center;
  background: currentColor;
  height: 2px;
  width: 0;
  transition: width 0.3s;
  @apply ease-in-out;
}

.text-effect-2:hover:before {
  width: 0.8em;
  margin-right: 0.3em;
}
.text-effect-2.text-effect-2_active:before {
  width: 0.8em;
  margin-right: 0.3em;
}
